.header__link {
  display: inline-flex;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  color: #2f80ed;
  transition: opacity 300ms ease-in;
}

.header__link:hover {
  opacity: .6;
}
