.footer__link {
  line-height: 30px;
  font-size: 18px;
  position: relative;
  color: white;
  text-decoration: none;
  display: inline-block;
  transition: opacity 300ms ease-in;
}

.footer__link:hover {
  opacity: .6;
}
