/* GLOBAL */
.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 18px;
  line-height: 1.2;
}

.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-column_justify_center {

}

.padding-top_100 {
  padding-top: 100px;
}

.padding-top_90 {
  padding-top: 90px;
}

.padding-top_60 {
  padding-top: 60px;
}

.padding-bottom_100 {
  padding-bottom: 100px;
}

.padding-bottom_90 {
  padding-bottom: 90px;
}

.padding-bottom_40 {
  padding-bottom: 40px;
}

.margin-bottom_20 {
  margin-bottom: 20px;
}

.text_color_blue {
  color: #2f80ed;
}

.bg_color_grey {
  background-color: #f2f2f2;
}

.bg_color_blue {
  background-color: #2f80ed;
}

.bg_color_dark {
  background-color: #1f1f1f;
}

.centered-title {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
/* END Global */


/* Common blocks */
.logo {
  display: block;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  background: url(../images/logo_place_header.svg);
  height: 32px;
  width: 183px;
}

.logo_place_footer {
  background: url(../images/logo_place_footer.svg);
  height: 35px;
  width: 183px;
}

.section-title {
  margin-top: 0;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
}

.section-title_place_feynman {
  margin-bottom: 70px;
  width: 648px;
  font-size: 120px;
}

.section-title_theme_dark {
  color: white;
}

.section-subtitle {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.section-subtitle_place_feynman {
  line-height: 51px;
  font-size: 36px;
}

.section-subtitle_theme_dark {
  color: white;
}

.table {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1100px;
  margin: 0 auto;
}

.table__heading {
  margin: 0;
}

.table__heading_place_kaufman {
  line-height: 1.15;
  font-size: 24px;
}

.table__heading_theme_dark {

}

.table__cell {

}

.table__cell_place_digits {
  width: 250px;
  margin-top: 60px;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.table__text {
  margin: 20px 0 0 0;
}
/* END Common blocks */


/* Header section */
.header {
  position: relative;
  display: flex;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
}

.header__column {
  justify-content: center;
}

.header__title {
  width: 730px;
  margin: 0 0 0 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  z-index: 3;
}

.header__subtitle {
  position: absolute;
  left: 64px;
  bottom: 30px;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 3;
}

.header__link {
  text-decoration: none;
}

.header__main-illustration {
  position: absolute;
  background: url(../images/header-image.png) bottom right / cover no-repeat;
  height: 608px;
  width: 765px;
  bottom: 0;
  right: 0;
  z-index: 2;
}

.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0;
  height: 568px;
  width: 568px;
  z-index: 1;
}
/* END Header section */


/* Description section */
.description {
  display: flex;
  justify-content: center;
}

.two-columns {
  display: flex;
  width: 80%;
  justify-content: space-between;
}

.two-columns__brief {
  margin: 0;
  width: 174px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin: 0;
  line-height: 34px;
  font-size: 24px;
}

.two-columns__paragraph_margin_bottom {
  margin-bottom: 30px;
}

.two-columns__span-accent {
  margin-right: 5px;
  font-weight: bold;
}
/* END Description section */


/* Feynman section */
.feynman {
  position: relative;
  min-height: 790px;
  background: #f2f2f2 url(../images/feynman.png) bottom left / 867px 637px no-repeat;
}

.feynman__link {
  position: absolute;
  top: calc(50% - 25px); /* 25px половина высоты строки */
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
}
/* END Feyman section */


/* Kaufman section */
.kaufman {
  position: relative;
  overflow: hidden;
}

.kaufman__table {
  position: relative;
  z-index: 2;
}

.kaufman__triangle {
  position: absolute;
  z-index: 1;
  top: 0;
  right: -210px;
  /*width: 877px;*/
  /*height: 877px;*/
  /*background: url(../images/kaufman-triangle.svg);*/
  width: 0;
  height: 0;
  border-left: 300px solid transparent;
  border-right: 300px solid transparent;
  border-bottom: 600px solid #2f80ed;
  transform: rotate(-8deg);
}
/* END Kaufman section */


/* Footer section */
.footer {
  box-sizing: border-box;
  min-height: 350px;
  display: flex;
  justify-content: center;
}

.footer__columns {
  display: flex;
  width: 90%;
  justify-content: space-between;
}

.footer__column_content_copyright {
  display: flex;
  flex-basis: 711px;
  flex-direction: column;
  justify-content: space-between;
}

.footer__author {
  margin: 18px 0;
  color: white;
}

.footer__column_content_info {

}

.footer__column_content_social {

}

.footer__column-heading {
  color: white;
  line-height: 30px;
  font-size: 18px;
  margin: 0 0 20px 0;
}

.footer__column-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer__list-item {
  margin-bottom: 16px;
}

.footer__link {
  color: white;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
}

.footer__social-icon {
  margin-right: 10px;
}
/* END Footer section */
