.khan__buy-link {
  display: inline-block;
  line-height: 42px;
  font-size: 30px;
  text-decoration: none;
  color: #2f80ed;
  transition: opacity 300ms ease-in;
  opacity: 1;
  vertical-align: top;
  position: relative;
  overflow: hidden;
}

.khan__buy-link:hover {
  opacity: .6;
}
